.wpr-blog-area {
    .section-inner {
        padding: 60px 40px;
    }
}

.article-blog {
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid var(--color-white);
    background: var(--color-white);

    .blog-content {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        gap: 15px;

        .infor {
            h6 {
                margin-bottom: 0;
                text-transform: none;
            }
        }
    }

    .btn-action {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        border: 1px solid var(--color-white);
        flex-shrink: 0;

        .icon {
            font-size: 20px;
        }

        &:hover {
            border-color: var(--color-primary);
            color: var(--color-primary);
        }
    }

    .infor_sub {
        margin-bottom: 8px;
    }

    .infor_name {
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        display: -webkit-box !important;
        overflow: hidden;
    }

    @media (min-width: 426px) {
        &.style-horizontal {
            display: flex;
            background: var(--color-white);

            .blog-image {
                max-width: 300px;

                img {
                    aspect-ratio: calc(300/200);
                }
            }

        }
    }

    @media (min-width: 1199px) {
        .btn-action {
            width: 50px;
            height: 50px;
        }
    }
}

.wg-pagination {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 12px;

    .pagination-item {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-white);
        border-radius: 10px;
        background-color: #272727;
        box-shadow: 0px -3px 0px 0px #080808 inset, 0px 1px 0px 0px rgba(255, 255, 255, 0.3019607843) inset, 0px 2.77px 2.21px 0px rgba(0, 0, 0, 0.1215686275), 0px 3px 3px 0px rgba(0, 0, 0, 0.1411764706), 0px 12.52px 10.02px 0px rgba(0, 0, 0, 0.1333333333), 0px 22.34px 17.87px 0px rgba(0, 0, 0, 0.1411764706), 0px 41.78px 33.42px 0px rgba(0, 0, 0, 0.1490196078), 0px 100px 80px 0px rgba(0, 0, 0, 0.1490196078);

        &.active,
        &:hover {
            color: var(--color-heading-1);
            background-color: var(--color-primary);
        }
    }
}

.blog-sidebar {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 50px;
    position: sticky;
    top: 30px;
    .sidebar-title {
        font-weight: 600;
        margin-bottom: 16px;
        text-transform: none;
    }

    @media (min-width: 1199px) {
        gap: 32px;
    }
}


.list-relatest-post {
    .relatest-post-item:not(:last-child) {
        margin-bottom: 10px;
    }
}

.relatest-post-item {
    display: flex;
    gap: 20px;
    align-items: center;

    .image {
        width: 80px;
        aspect-ratio: 1;
        flex-shrink: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .title {
        font-weight: 600;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;
        margin-bottom: 5px;
        font-size: 18px;
        line-height: 1;
        text-transform: none;
    }
}

.sidebar-categories {
    display: flex;
    flex-direction: column;
    gap: 7px;

    .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.list-tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;

    a {
        display: flex;
        align-items: center;
        padding: 7px 15px;
        border-radius: 99px;
        color: #D4D4D8;
        background: #3F3F46;
        border: 1px solid #3F3F46;

        &:hover {
            color: var(--color-primary);
        }
    }
}

.blog-single-wrap {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .image {
        img {
            width: 100%;
            border-radius: 16px;
        }
    }
}

.meta-list {
    display: flex;
    align-items: center;
    gap: 10px 20px;
    flex-wrap: wrap;

    .meta-item {
        display: flex;
        align-items: center;
        gap: 5px;

        .icon {
            color: var(--color-primary);
            font-size: 24px;
        }
    }
}

.entry-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

    .tags-links {
        display: flex;
        align-items: center;
        gap: 15px;
        max-width: 420px;

        .text-body-1 {
            min-width: max-content;
        }
    }

    .tf-social {
        display: flex;
        gap: 12px;
        align-items: center;
    }

    .social-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 52px;
        height: 52px;
        border-radius: 99px;
        font-size: 24px;
        color: var(--color-white);
        background: linear-gradient(0deg, #272727, #272727),
            radial-gradient(62.56% 62.56% at 28.14% -10.42%, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
        box-shadow: 0px -3px 0px 0px #080808 inset,
            0px 1px 0px 0px #FFFFFF4D inset,
            0px 2.77px 2.21px 0px #0000001F,
            0px 6.65px 5.32px 0px #00000021,
            0px 12.52px 10.02px 0px #00000022,
            0px 22.34px 17.87px 0px #00000024,
            0px 41.78px 33.42px 0px #00000026,
            0px 100px 80px 0px #00000026,
            0px 3px 3px 0px #00000024,
            0px 2.77px 2.21px 0px #0000001F;

        &:hover {
            background:
                radial-gradient(62.56% 62.56% at 28.14% -10.42%, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%),
                linear-gradient(0deg, #272727, #272727);
            box-shadow: 0px -3px 0px 0px #080808 inset,
                0px 1px 0px 0px #FFFFFF4D inset,
                0px 2.77px 2.21px 0px #0000001F,
                0px 6.65px 5.32px 0px #00000021,
                0px 12.52px 10.02px 0px #00000022,
                0px 22.34px 17.87px 0px #00000024,
                0px 41.78px 33.42px 0px #00000026,
                0px 100px 80px 0px #00000026,
                0px 3px 3px 0px #00000024,
                0px 2.77px 2.21px 0px #0000001F;
        }
    }
}

.blockquote-wrap {
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 24px;
    padding: 74px 39px 80px 56px;
    background-color: #09090B;
    box-shadow: 0px 0px 20px 0px rgba(103, 103, 103, 0.25) inset;

    .h5 {
        text-transform: none;
        margin-bottom: 0;
    }

    svg {
        position: absolute;
        bottom: 0px;
        right: 56px;
        z-index: -1;
    }

    @media (min-width: 767px) {
        padding: 40px 30px;
    }
}

.social-links {
    display: flex;
    gap: 8px;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #FFFFFF1A;
        box-shadow: 0px 0px 15px 0px #DDDDDD26 inset;
        backdrop-filter: blur(6px);
        font-size: 16px;

        &:hover {
            background-color: #fff;
            color: #151515;
        }
    }
}

.comment-wrap {
    .heading {
        margin-bottom: 25px;
        font-size: 28px;
        font-family: var(--font-secondary);
        font-weight: 600;
    }

    .author {
        position: relative;
        display: flex;
        gap: 12px;
        margin-bottom: 30px;
        padding-bottom: 30px;

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        &.type-reply {
            margin-left: 20px;
        }
    }

    .name {
        margin-bottom: 5px;
        margin-top: -7px;
    }

    .image {
        width: 48px;
        height: 48px;
        flex-shrink: 0;
        border-radius: 50% !important;
        overflow: hidden;
        filter: grayscale(100%);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .time {
        margin-bottom: 20px;
    }

    .reply {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        gap: 5px;
        align-items: center;
    }

    @media (min-width: 991px) {
        .author {
            gap: 18px;

            &.type-reply {
                margin-left: 66px;
            }
        }
    }
}

.post-comment {
    .heading {
        margin-bottom: 35px;
        font-size: 28px;
        font-family: var(--font-secondary);
        font-weight: 600;
    }

    .text {
        margin-bottom: 25px;
    }

    .form-cta {
        .form-content {
            gap: 24px;
            margin-bottom: 40px;
        }

        textarea {
            height: 100px;
        }
    }
    fieldset {
        border: none;
        padding: 0;

        input, textarea {
            padding-right: 30px;
            outline: 0;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            width: 100%;
            padding: 0 0 11px 0px;
            border: 0;
            border-bottom: 1px solid #d4d4d8;
            border-radius: 0;
            background-color: transparent;
            color: var(--primary);
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
    }

    form {
    position: relative;
    z-index: 30;

    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"] {
        outline: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        width: 100%;
        padding: 0 0 11px 0px;
        border: 0;
        border-bottom: 1px solid #D4D4D8;
        background-color: transparent;
        color: var(--color-primary);
        &::placeholder {
            color: var(--color-body-1);
        }
    }

    button,
    input[type="button"],
    input[type="reset"],
    input[type="submit"] {
        background-color: transparent;
        overflow: hidden;
        padding: 0;
    }

    textarea {
        height: 150px;
        border-radius: 32px;
        resize: none;
    }


    .form-content {
        display: grid;
        gap: 20px;
        label{
            color: var(--color-heading-1);
            font-weight: 600;
        }
    }
    .form-action{
        .wpr-btn{
            max-width: 100%;
            width: 100%;
            padding: 16px 24px 16px;
            justify-content: center;
        }
    }
}
}

.hover-img {
    .img-style {
        overflow: hidden;

        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            -webkit-transition: opacity 0.5s ease, transform 1.5s cubic-bezier(0, 0, 0.44, 1.18);
            transition: opacity 0.5s ease, transform 1.5s cubic-bezier(0, 0, 0.44, 1.18);
        }
    }

    &:hover {
        .img-style {
            >img {
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
            }
        }

    }

    .img-style2 {
        overflow: hidden;
        border-radius: 10px;

        .img-hv {
            width: 100%;
            object-fit: cover;
            -webkit-transition: all 1s cubic-bezier(0.3, 1, 0.35, 1) 0s;
            transition: all 1s cubic-bezier(0.3, 1, 0.35, 1) 0s;
            transition: transform 500ms ease;
        }
    }
}

.section-blog {
    .tf-grid-layout {
        gap: 30px;
    }
}

.tf-grid-layout {
    display: grid;
    column-gap: 24px;
    row-gap: 32px;

    &.tf-col-2 {
        grid-template-columns: 1fr 1fr;
    }

    &.tf-col-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    &.tf-col-4 {
        grid-template-columns: repeat(4, 1fr);
    }

    &.tf-col-5 {
        grid-template-columns: repeat(5, 1fr);
    }

    &.tf-col-6 {
        grid-template-columns: repeat(6, 1fr);
    }

    &.tf-col-7 {
        grid-template-columns: repeat(7, 1fr);
    }

    .wd-full {
        grid-column: 1 / -1;
    }

    .wd-2-cols {
        grid-column: span 2;
    }


    @media (min-width: 575px) {
        &.sm-col-2 {
            grid-template-columns: 1fr 1fr;
        }

        &.sm-col-3 {
            grid-template-columns: repeat(3, 1fr);
        }

        &.sm-col-4 {
            grid-template-columns: repeat(4, 1fr);
        }

        &.sm-col-5 {
            grid-template-columns: repeat(5, 1fr);
        }

        &.sm-col-6 {
            grid-template-columns: repeat(6, 1fr);
        }

        &.sm-col-7 {
            grid-template-columns: repeat(7, 1fr);
        }
    }

    @media (min-width: 767px) {
        &.md-col-2 {
            grid-template-columns: 1fr 1fr;
        }

        &.md-col-3 {
            grid-template-columns: repeat(3, 1fr);
        }

        &.md-col-4 {
            grid-template-columns: repeat(4, 1fr);
        }

        &.md-col-5 {
            grid-template-columns: repeat(5, 1fr);
        }

        &.md-col-6 {
            grid-template-columns: repeat(6, 1fr);
        }

        &.md-col-7 {
            grid-template-columns: repeat(7, 1fr);
        }
    }

    @media (min-width: 991px) {
        &.lg-col-2 {
            grid-template-columns: 1fr 1fr;
        }

        &.lg-col-3 {
            grid-template-columns: repeat(3, 1fr);
        }

        &.lg-col-4 {
            grid-template-columns: repeat(4, 1fr);
        }

        &.lg-col-5 {
            grid-template-columns: repeat(5, 1fr);
        }

        &.lg-col-6 {
            grid-template-columns: repeat(6, 1fr);
        }

        &.lg-col-7 {
            grid-template-columns: repeat(7, 1fr);
        }
    }

    @media (min-width: 1199px) {
        column-gap: 30px;
        row-gap: 40px;

        &.row-xl-gap-40 {
            row-gap: 40px;
        }

        &.row-xl-gap-56 {
            row-gap: 56px;
        }

        &.xl-col-2 {
            grid-template-columns: 1fr 1fr;
        }

        &.xl-col-3 {
            grid-template-columns: repeat(3, 1fr);
        }

        &.xl-col-4 {
            grid-template-columns: repeat(4, 1fr);
        }

        &.xl-col-5 {
            grid-template-columns: repeat(5, 1fr);
        }

        &.xl-col-6 {
            grid-template-columns: repeat(6, 1fr);
        }

        &.xl-col-7 {
            grid-template-columns: repeat(7, 1fr);
        }
    }

    @media (min-width: 1439px) {
        &.xxl-col-2 {
            grid-template-columns: 1fr 1fr;
        }

        &.xxl-col-3 {
            grid-template-columns: repeat(3, 1fr);
        }

        &.xxl-col-4 {
            grid-template-columns: repeat(4, 1fr);
        }

        &.xxl-col-5 {
            grid-template-columns: repeat(5, 1fr);
        }

        &.xxl-col-6 {
            grid-template-columns: repeat(6, 1fr);
        }

        &.xxl-col-7 {
            grid-template-columns: repeat(7, 1fr);
        }
    }
}

.tf-btn-2 {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    color: var(--color-white);
    border-radius: 99px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding: 14px 24px;
    color: var(--color-heading);
    background:
        radial-gradient(62.56% 62.56% at 28.14% -10.42%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%),
        linear-gradient(0deg, #F5F5F5, #F5F5F5);
    box-shadow:
        0px -3px 0px 0px #E9E9E9 inset,
        0px 1px 0px 0px #FFFFFFB2 inset,
        0px 2.77px 2.21px 0px #0000001F,
        0px 3px 3px 0px #00000024;
    overflow: hidden;

    &:hover {
        color: var(--color-primary);
    }
}

.form-search {
    position: relative;

    fieldset {
        border: none;
        padding: 0;

        input {
            padding-right: 30px;
            outline: 0;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            width: 100%;
            padding: 0 0 11px 0px;
            border: 0;
            border-bottom: 1px solid #d4d4d8;
            border-radius: 0;
            background-color: transparent;
            color: var(--primary);
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
    }

    button {
        position: absolute;
        right: 5px;
        top: 8px;
        color: var(--color-heading-1);
        background: none;
        border: none;
        width: max-content;

        .icon {
            color: var(--color-heading-1);
        }
    }

}

.section-inner .tf-grid-layout {
    gap: 30px;

    .hover-img .img-style {
        display: inline-block;
    }
}

@media (min-width: 576px) {
    .tf-grid-layout.sm-col-2 {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1200px) {
    .tf-grid-layout.xl-col-3 {
        grid-template-columns: repeat(3, 1fr);
    }
}


.text-body-1 {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 0;
}

.text-body-2 {
    font-size: 16px;
    line-height: 24px;
}

.text-body-3 {
    font-size: 14px;
    line-height: 20px;
}

.gap-12 {
    gap: 12px !important;
}

.mb-12{
    margin-bottom: 12px !important;
}