.wpr-working-process{
    .section-inner{
        padding: 100px 56px;
    }
    .working-process-left{
        display: flex;
        flex-direction: column;
        gap: 188px;
        position: sticky;
        top: 100px;
        .text-area{
            .desc{
                margin-bottom: 20px;
            }
            .wpr-btn{
                padding: 24px 24px 28px 78px;
                background: radial-gradient(62.56% 62.56% at 28.14% -10.42%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, linear-gradient(137.66deg, #40454A 21.13%, #292C2E 80.53%);
                box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1), 60px 50px 80px rgba(0, 0, 0, 0.15), 20px 41.7776px 33.4221px rgba(0, 0, 0, 0.1503), 10px 22.3363px 17.869px rgba(0, 0, 0, 0.1417), 4px 12.5216px 10.0172px rgba(0, 0, 0, 0.135), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.1283), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.1197), inset 0px 1px 0px rgba(255, 255, 255, 0.6), inset 0px -5px 0px #1A1A1A, inset 0px -6px 0px 1px rgba(255, 255, 255, 0.1);
                .icon{
                    gap: 17px;
                    .fixed-arrow{
                        margin-bottom: 2px;
                    }
                }
                .inner{
                    top: 47%;
                    transform: translate(-50%, -47%);
                }
            }
        }
        
    }
}

.working-process-wrapper{
    position: relative;
    z-index: 1;
    background: linear-gradient(137.66deg, #F5F5F5 21.13%, #F2F2F2 80.53%);
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.6), inset 0px -5px 0px #E4E4E4, inset 0px -6px 0px 1px #FAFAFA;
    border-radius: 12px;
    padding: 16px 16px 32px 16px;
    transition: all .5s;
    margin-bottom: 24px;
    position: sticky;
    top: 100px;
    &:hover{
        .image-area{
            img{
                transform: scale(1.1);
            }
        }
    }
    .image-area{
        position: relative;
        z-index: 1;
        overflow: hidden;
        transition: all .5s;
        border-radius: 12px;
        img{
            transform: scale(1);
            transition: all .5s;
        }
    }
    .content-area{
        display: flex;
        gap: 30px;
        padding: 25px 20px 0;
        .number{
            font-size: 18px;
            line-height: 1;
            margin-top: 4px;
        }
        .title{
            font-weight: 600;
            text-transform: none;
            letter-spacing: 0;
            margin-bottom: 10px;
        }
    }
    &:last-child{
        margin-bottom: 0;
    }
}

.wpr-marquee-area{
    .section-inner{
        .title{
            min-width: max-content;
            line-height: 1;
            display: flex;
            align-items: center;
            font-size: 120px;
            letter-spacing: -0.04em;
            margin: 0;
            span{
                display: flex;
                margin: 0 50px;
            }
        }
        .first-text{
            transform: translateX(-40%);
        }
        .text-wrapper{
            padding: 30px 0;
            &:last-child{
                border-top: 1px solid var(--color-border);
            }
        }
    }
}
.scrollingtext-1{
    display: inline-block;
    white-space: nowrap;
}