// mobile menu style 
.side-bar {
    position: absolute;
    overflow: hidden;
    top: 73px;
    right: 0;
    width: 100%;
    padding: 0;
    height: auto;
    display: block;
    background-color: white;
    backdrop-filter: blur(7px);
    z-index: 1;
    transition: all .4s;
    display: none;
    flex-direction: column;
    overflow: hidden;
    height: 0;
    .inner-main-wrapper-desk{
        .thumbnail{
            display: flex;
            justify-content: center;
            img{
                width: 85%;
                margin: auto;
            }
        }
        .inner-content{
            text-align: center;
            margin-top: 30px;
            p{
            max-width: 95%;
            text-align: center;
            margin: auto;
            }
            .title{
                font-weight: 600;
            }
            .footer{
                padding-top: 50px;
                margin-top: 80px;
                border-top: 1px solid #c2c2c2;
                .title{
                    font-weight: 500;
                }
                a.wpr-btn{
                    margin: auto;
                }
            }
        }
    }
    .button-area{
        margin-top: 30px;
        .wpr-btn{
            max-width: 100%;
            width: 100%;
            text-align: center;
            justify-content: center;
        }
    }
    .sidebar-inner{
        padding: 40px 25px;
    }
}
.side-bar.show {
    right: 0;
    height: auto;
}
#menu-btn{
    cursor: pointer;
    padding: 10px;
    display: none;
    @media #{$md-layout} {
        display: block;
    }
    @media #{$sm-layout} {
        display: block;
    }
    background: radial-gradient(62.56% 62.56% at 28.14% -10.42%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, linear-gradient(137.66deg, #40454A 21.13%, #292C2E 80.53%);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.6), inset 0px -3px 0px #1A1A1A, inset 0px -4px 0px 1px rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    span{
        display: block;
        background: var(--color-white);
        width: 25px;
        height: 2px;
        transition: all .3s;
    }
    &.cross{
        span{
            &.one{
                transform: rotate(45deg) translateY(2px) translateX(4px);
            }
            &.two{
                transform: rotate(-45deg) translateY(-2px) translateX(4px);
            }
        }
    }
}
// mobile menu active
#side-bar{
    .mobile-menu-main{
        display: none;
        @media #{$md-layout} {
            display: block;
        }
        @media #{$sm-layout} {
            display: block;
        }
    }
}
// mobile menu scss
.mobile-menu-main{
    overflow: scroll;
    nav{
        ul{
            padding: 0 !important;
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: 20px;
            li{
                margin: 0;
                padding: 0;
                a.main{
                    padding: 12px 0 17px 0;
                    border-bottom: 1px solid #f3f3f3;
                    cursor: pointer;
                }
                &.has-droupdown{
                    position: relative;
                    ul{                        
                        a{
                            padding: 10px 0;
                        }
                        a.tag{
                            font-weight: 700;
                            margin-top: 15px;
                            font-size: 18px;
                            border-bottom: 2px solid var(--color-primary);
                            padding: 10px 0;
                        }
                        li{
                            margin: 7px 0 !important;
                            border-bottom: 1px solid #f3f3f3;
                        }
                    }
                    &::after{
                        position: absolute;
                        content: '\f054';
                        font-family: 'Font Awesome 6 pro' !important;
                        font-size: 16px;
                        right: 0;
                        font-weight: 400;
                        top: 5px;
                        padding: 8px 13px;                        
                        color: rgba(38, 38, 44, .5);
                        pointer-events: none;
                        cursor: pointer;
                    }
                    &.mm-active{
                        &::after{
                            content: '\f077';
                        }
                    }
                    &.third-lvl{
                        &::after{
                            font-size: 10px;
                            padding: 3px 10px;
                        }
                        ul{
                            padding: 0 20px;
                            li{
                                margin: 10px 0 !important;
                                position: relative;
                                z-index: 1;
                                transition: all .3s;
                                &:hover{
                                        color: var(--color-primary);
                                }
                                a{
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    transition: all .3s;
                                }
                            }
                        }
                    }
                }
                .main-element{
                    display: block;
                    max-width: max-content;
                    font-family: var(--font-primary);
                    color: var(--color-heading-1);
                    padding: 0;
                    font-size: 16px;
                }
                ul{
                    gap: 10px;
                    padding-top: 15px !important;
                    li{
                        line-height: 1;
                        a{
                            font-size: 14px;
                            color: var(--color-heading-1);
                        }
                    }
                }
            }
        }
    }
    .social-wrapper-one{
        margin-top: 50px;
    }
}
