// nav style

.main-nav-area {
    ul {
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        gap: 40px;

        li {
            margin: 0;
            position: relative;

            &:hover {
                a {
                    &::after {
                        width: 100%;
                    }
                }
            }

            a {
                color: var(--color-heading-1);
                text-align: center;
                font-size: 14px;
                font-weight: 400;
                line-height: 1;
                font-family: var(--font-primary);
                transition: var(--transition);
                position: relative;
                z-index: 1;
                transition: var(--transition);

                &::after {
                    content: '';
                    position: absolute;
                    z-index: 1;
                    background: var(--color-heading-1);
                    height: 1px;
                    width: 0;
                    bottom: 1px;
                    left: 0;
                    transition: var(--transition);
                }
            }

            &.has-dropdown {
                cursor: pointer;
                padding: 24px 0;

                &:hover {
                    .sub-menu {
                        pointer-events: all;
                        transform: translateY(0px);
                        opacity: 1;
                        visibility: visible;
                    }
                }

                .sub-menu {
                    position: absolute;
                    top: 100%;
                    background-color: var(--color-white);
                    box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 20px 0px;
                    min-width: 150px;
                    left: -10px;
                    border-radius: 8px;
                    transition: all 0.3s ease;
                    opacity: 0;
                    visibility: hidden;
                    transform: translateY(10px);
                    padding: 12px 0px !important;
                    display: block;

                    .item-link::before {
                        display: none;
                    }

                    li {
                        >a {
                            padding: 7px 16px;
                            display: block;
                            text-align: start;

                            &::after {
                                display: none;
                            }
                        }
                    }
                }
            }

            &.active {
                .main-element {
                    &::after {
                        width: 100%;
                    }
                }
            }
        }

    }
}